.selectbuttons {
  width: 100%;
  height: 6rem;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  align-content: space-between;    
}

.selectbuttons::-moz-focus-inner{
  border: 0;
}

.selectbuttons:focus{
  outline: none;
}

.selectbuttons option {
 
  display: inline-block; 
  border: 1px solid #f3f4f6;
  margin-right: 10px;
  border-radius: 0.18rem;
  width: 22rem;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 4.0rem;
  font-weight: bold;
  text-align: center;
}

.selectbuttons option:hover,
.selectbuttons option:focus,
.selectbuttons option:active,
.selectbuttons option:checked {
  background: #0ab81b44;
  color: #f3f4f6;
}





/*style for set-buttons*/
.selectset {
  width: 100%;
  height: 3.7rem;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  align-content: space-between;    
}

.selectset::-moz-focus-inner{
  border: 0;
}

.selectset:focus{
  outline: none;
}

.selectset option {
  padding: 0.3rem;
  display: inline-block; 
  border: 1px solid #f3f4f6;
  margin-right: 10px;
  border-radius: 0.18rem;
  width: 14rem;
  height: 2.7rem;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 2.0rem;
  font-weight: bold;
  text-align: center;
}

.selectset option:hover,
.selectset option:focus,
.selectset option:active,
.selectset option:checked {
  background: #0ab81b44;
  color: #f3f4f6;
}
.startgame-button {
margin-top: 0.8rem;  
width: 46.2rem;
height: 5.90rem;;
border-radius: 0.18rem;
background: linear-gradient(45deg, #3CFF50, #0AB81B);
font-size: 2rem;
font-family: "Inter", sans-serif;
font-weight: bold;
}

/* this is a style for player name and icon*/
.playerfont{

font-size: 2rem;
color: #1BA628;
font-family: "Inter", sans-serif;
}

.playerfont .player-icon {
  vertical-align: middle;
  
}

.playerform {
border-radius: 0.18rem;
background-color: #E4E4E4;
padding-left: 0.2rem;
width: 100%;
height: 2.5rem;
color: #817979;
font-size: 1rem;
font-family: "Inter", sans-serif;
}



@media (max-width: 780px) {
  .selectbuttons {
    height: 4rem;
  }

  .selectbuttons option {
    width: 45%;
    font-size: 1.6rem;
  }

  .selectset {
    height: 2rem;
  }

  .selectset option {
    width: 25%;
    font-size: 1rem;
  }

  .startgame-button {
    width: 100%;
    height: 4.5rem;
    font-size: 2rem;
  }

  .playerform {
    width: 100%;
    height: 2.5rem;
  }
  .playerfont{
    font-size: 1.5rem;
  }

.selectset option:hover,
.selectset option:focus,
.selectset option:active,
.selectset option:checked {
  background: #0ab81b44;
  color: #f3f4f6;
}
}
